.login-page {
    background-color: #800020; /* Wine color background */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-container .form-group {
    margin-bottom: 15px;
  }
  
  .login-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-container .form-group select,
  .login-container .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .login-container p {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-container p a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .login-container p a:hover {
    text-decoration: underline;
  }
  